.Hamburger {
  display: none;
  padding: 15px;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  background: transparent;
  border: 0;
  outline: none;
  overflow: hidden;
}
.Hamburger:hover {
  opacity: 0.7;
}
.HamburgerBox {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.HamburgerInner {
  display: block;
  top: 50%;
  margin-top: -2px;
  transition: background-color 0.125s 0.175s ease-in;
}
.HamburgerInner, .HamburgerInner::before, .HamburgerInner::after {
  width: 40px;
  height: 4px;
  background: white;
  border-radius: 4px;
  position: absolute;
}
.HamburgerInner::before, .HamburgerInner::after {
  content: "";
  display: block;
}
.HamburgerInner::before {
  top: -10px;
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}
.HamburgerInner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}
.Active .HamburgerInner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}
.Active .HamburgerInner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Active .HamburgerInner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media (max-width: 400px) {
  .Hamburger {
    display: block;
  }
}
