.Container {
  width: 100%;
  height: 100vh;
}
.ParticleContainer {
  width: 100%;
  height: 100%;
}
.TitleContainer {
  position: absolute;
  text-align: center;
  top: max(30%, 80px);
  width: 650px;
  left: calc(50% - 325px);
  pointer-events: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 670px) {
  .TitleContainer {
    width: 100%;
    left: 0;
  }
  .TitleContainer h1 {
    font-size: 35px;
  }
}
@media (max-width: 550px) {
  .TitleContainer h1 {
    font-size: 30px;
  }
}
@media (max-width: 470px) {
  .TitleContainer h1 {
    font-size: 25px;
  }
}
@media (max-width: 400px) {
  .TitleContainer h1 {
    font-size: 20px;
  }
}
.Title {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid rgba(255,255,255,0.9);
  animation: typewriter 2.75s steps(44) 1s 1 normal both, blinkTextCursor 750ms steps(44) 5 normal;
}
.SubTitle {
  margin-bottom: 0;
  font-weight: 200;
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter2 2.75s steps(44) 3s 1 normal both, blinkTextCursor 750ms steps(44) 10 normal;
}
@keyframes typewriter {
  from { width: 0; }
  to {
    width: 100%;
    border-right: 0;
  }
}
@keyframes typewriter2 {
  0% {
    width: 0;
    border-right: 0;
  }
  1%, 85% { border-right: 2px solid rgba(255,255,255,0.9); }
  90% { border-right: 0; }
  100% { width: 100%; }
}
@keyframes blinkTextCursor {
  from { border-right-color: rgba(255,255,255,0.9); }
  to { border-right-color: transparent; }
}
.DownIcon {
  color: white;
  font-size: 30px;
  margin: 60px 0 0;
  animation: fadeIn 1s 6s forwards, bounce 4s 7s infinite;
  cursor: pointer;
  display: inline-block;
  pointer-events: all;
  opacity: 0;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes bounce {
  0% {
    visibility: visible;
    transform: translateY(0);
  }
  20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
