.Project {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 100px auto 80px;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 500ms ease-in, opacity 1000ms ease-in;
}
.ProjectAnim {
  transform: translateX(0%);
  opacity: 1;
}
.Img {
  position: relative;
  width: 40%;
}
.Img img {
  width: 100%;
}
.Overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  transition: opacity 200ms;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.Img:hover .Overlay {
  opacity: 1;
}
.ProjectInfo {
  margin-left: 20px;
  width: calc(60% - 20px);
}
.InfoText {
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
  color: white;
  background: rgba(var(--darkerBlue), 0.1);
  border-radius: 4px;
  border: 1px solid rgba(var(--darkerBlue), 0.3);
  box-shadow: 0 1px 5px -1px rgba(var(--darkerBlue), 0.3);
  font-size: 15px;
}
.Icons {
  margin-top: 10px;
}
.Icons svg {
  width: 30px;
  height: 30px;
  color: white;
  margin: 0 5px;
  transition: 250ms;
}
.Icons svg:hover {
  color: rgb(var(--lightBlue));
  transform: scale(1.1);
}
.Links {
  margin: 15px 0 5px;
}
.TopTitle {
  display: none;
}
@media (max-width: 1050px) {
  .Project {
    width: 95%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .ProjectInfo {
    margin: 20px 0;
    width: 100%;
    max-width: 800px;
  }
  .ProjectInfo p {
    font-size: 14.5px;
    text-align: center;
  }
  .Img {
    width: 100%;
    max-width: 450px;
  }
  .Title {
    display: none;
  }
  .TopTitle {
    display: flex;
  }
}
@media (max-width: 400px) {
  .Icons svg {
    width: 28px;
    height: 28px;
  }
}
@media (max-width: 360px) {
  .Icons svg {
    width: 26px;
    height: 26px;
  }
}
