.Project {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto 90px;
}
.Img {
  position: relative;
  width: 40%;
}
.Img img {
  width: 100%;
}
.Overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  transition: opacity 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.Img:hover .Overlay {
  opacity: 1;
}
.ProjectInfo {
  margin-left: 20px;
  width: calc(60% - 20px);
}
.InfoText {
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
  color: white;
  background: rgba(var(--darkerBlue), 0.1);
  border-radius: 4px;
  border: 1px solid rgba(var(--darkerBlue), 0.3);
  box-shadow: 0 1px 5px -1px rgba(var(--darkerBlue), 0.3);
  font-size: 15px;
}
.Icons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Icons svg {
  width: 25px;
  height: 25px;
  color: white;
  margin: 0 5px;
  transition: 250ms;
}
.Icons svg:hover {
  color: rgb(var(--lightBlue));
  transform: scale(1.1);
}
.Links {
  margin: 15px 0 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1050px) {
  .Project {
    width: 95%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .ProjectInfo {
    margin: 20px 0;
    width: 100%;
    max-width: 800px;
  }
  .ProjectInfo p {
    font-size: 14.5px;
    text-align: center;
  }
  .Img {
    width: 100%;
    max-width: 400px;
  }
}
