.Container {
  padding-bottom: 20px;
}
.Form {
  margin: 20px auto;
  max-width: 500px;
  width: 90%;
  padding: 0 -5px;
}
.AnimateForm input, .AnimateForm textarea, .AnimateForm .SubmitBtn {
  position: relative;
  animation: dropIn 1000ms forwards;
}
@keyframes dropIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.Form input::placeholder, .Form textarea::placeholder {
  color: rgb(138,138,138);
}
.Form input, .Form textarea {
  opacity: 0;
  background: rgb(43, 43, 43);
  color: rgb(175,175,175);
  border: 0;
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  outline: none;
  margin: 5px;
  box-shadow: 0 0 10px 0 rgb(35,35,35) inset;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, sans-serif;
}
.Form input {
  height: 50px;
  padding: 0 20px;
}
.Form textarea {
  padding: 10px 20px;
  resize: vertical;
}
.InputSection {
  display: flex;
  justify-content: space-between;
}
.InputDiv {
  position: relative;
}
.NameInput {
  margin-right: 10px;
}
.Form input:focus ~ .FocusBorder, .Form textarea:focus ~ .FocusBorder {
  width: 100%;
  opacity: 1;
}
.FocusBorder {
  position: absolute;
  bottom: 4px;
  left: 5px;
  width: 0;
  height: 2px;
  background: rgb(var(--lightBlue));
  transition: 300ms;
  opacity: 0;
}
.Form textarea ~ .FocusBorder {
  bottom: 8px;
}
.SubmitBtn {
  opacity: 0;
  outline: none;
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  background: rgb(43, 43, 43);
  cursor: pointer;
  border: 2px solid rgb(var(--lightBlue));
  color: rgb(var(--lightBlue));
  border-radius: 4px;
  transition: 250ms;
}
.SubmitBtn:hover {
  border: 2px solid rgb(44, 205, 246);
  color: rgb(44, 205, 246);
  background: rgb(55,55,55);
}
.SubmitBtn:disabled {
  border: 2px solid rgb(50,50,50);
  color: rgb(100,100,100);
  background: rgb(50,50,50);
}
.SubmitContainer {
  position: relative;
}
.ErrMsg, .HideMsg, .SuccessMsg {
  position: absolute;
  top: 7.5px;
  right: -5px;
  color: white;
  font-size: 15px;
  background: rgb(184, 4, 4);
  border-radius: 4px;
  padding: 10px;
  transition: 300ms;
}
.HideMsg {
  opacity: 0;
  visibility: hidden;
}
.SuccessMsg {
  background: rgb(16, 170, 3);
}
