:root {
  --lightBlue: 21, 171, 210;
  --blue: 0, 61, 122;
  --darkBlue: 61, 61, 68;
  --darkerBlue: 36, 42, 54;
}
body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: linear-gradient(rgb(var(--blue)), rgb(var(--darkBlue)));
}
h1, h2 {
  font-size: 40px;
  font-weight: 400;
  color: white;
  text-align: center;
  margin: 0.67em 0;
}
@media (max-width: 420px) {
  h1 {
    font-size: 35px;
  }
}
.Container {
  padding: 20px 0;
}
.FlexC {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}
