body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(var(--blue));
}

:root {
  --lightBlue: 21, 171, 210;
  --blue: 0, 61, 122;
  --darkBlue: 36, 42, 54;
}
