.ProjLink {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 48px;
  margin: 0 10px;
  box-shadow: inset 0 0 0 2px white;
  transition: color 250ms 50ms;
  position: relative;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
}
.ProjLink:hover {
  color: rgb(var(--lightBlue));
  transition: color 250ms 350ms;
}
.ProjLink::before, .ProjLink::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.ProjLink::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
}
.ProjLink::after {
  border-top-width: 2px;
  border-right-width: 2px;
}
.ProjLink:hover::before, .ProjLink:hover::after {
  border-color: rgb(var(--lightBlue));
  transition: border-color 0ms, width 250ms, height 250ms;
  width: 100%;
  height: 100%;
}
.ProjLink:hover::before {
  transition-delay: 0ms, 0ms, 250ms;
}
.ProjLink:hover::after {
  transition-delay: 0ms, 250ms, 0ms;
}
.ArrowIcon, .GithubIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ArrowIcon {
  font-size: 22px;
  margin-left: 10px;
}
.GithubIcon {
  font-size: 30px;
  margin-right: 10px;
}
@media (max-width: 400px) {
  .ProjLink {
    width: calc(50% - 20px);
  }
}
@media (max-width: 320px) {
  .ProjLink {
    font-size: 15px;
  }
  .ArrowIcon {
    margin-left: 5px;
  }
  .GithubIcon {
    margin-right: 5px;
  }
}
